.vllaGalery
    .container
        h4.vllaGalery__heading Выполненные проекты
        .row
            .vllaGalery__item
                .row
                    .col-xs-12.col-md-7
                        .vllaGalery__description
                            h4 Мечеть "Хазрет Султан"
                            table
                                thead
                                    td(colspan=2) Высокодетализированный макет выполнен:
                                tbody
                                    tr
                                        td.dotts - Масштаб
                                        td 1:200
                                    tr
                                        td.dotts - Подмакетник
                                        td 2600х2600 мм.
                                    tr
                                        td.dotts - Уличных фонарей с подсветкой
                                        td 350 шт.
                                    tr
                                        td.dotts - Срок изготовления
                                        td 25 дней
                            .vllaGalery__carousel#carouselHazard
                                button.vllaGalery__arrowLeft ⇦
                                ul
                                    li
                                        a(href='img/vlla__hazart1.jpg')
                                            img(src='img/vlla__hazart1.jpg')
                                    li
                                        a(href='img/vlla__hazart2.jpg')
                                            img(src='img/vlla__hazart2.jpg')
                                    li
                                        a(href='img/vlla__hazart3.jpg')
                                            img(src='img/vlla__hazart3.jpg')
                                    li
                                        a(href='img/vlla__hazart4.jpg')
                                            img(src='img/vlla__hazart4.jpg')
                                    li
                                        a(href='img/vlla__hazart5.jpg')
                                            img(src='img/vlla__hazart5.jpg')
                                    li
                                        a(href='img/vlla__hazart6.jpg')
                                            img(src='img/vlla__hazart6.jpg')
                                    li
                                        a(href='img/vlla__hazart7.jpg')
                                            img(src='img/vlla__hazart7.jpg')
                                    li
                                        a(href='img/vlla__hazart8.jpg')
                                            img(src='img/vlla__hazart8.jpg')
                                button.vllaGalery__arrowRight ⇨
                    .col-xs-12.col-md-5
                        .vllaGalery__mainImage#hazard
                            img(src='img/vlla__hazartMain.jpg')

            .vllaGalery__item
                .row
                    .col-xs-12.col-md-7.col-md-push-5
                        .vllaGalery__description
                            h4 Макет дворца "Мира и Согласия" в разрезе
                            table
                                thead
                                    td(colspan=2) Высокодетализированный макет выполнен:
                                tbody
                                    tr
                                        td.dotts - Масштаб
                                        td 1:200
                                    tr
                                        td.dotts - Подмакетник
                                        td 2600х2600 мм.
                                    tr
                                        td.dotts - Уличных фонарей с подсветкой
                                        td 350 шт.
                                    tr
                                        td.dotts - Срок изготовления
                                        td 25 дней
                            .vllaGalery__carousel#carouselPalace
                                button.vllaGalery__arrowLeft ⇦
                                ul
                                    li
                                        a(href='img/vlla__hazart1.jpg')
                                            img(src='img/vlla__hazart1.jpg')
                                    li
                                        a(href='img/vlla__hazart2.jpg')
                                            img(src='img/vlla__hazart2.jpg')
                                    li
                                        a(href='img/vlla__hazart3.jpg')
                                            img(src='img/vlla__hazart3.jpg')
                                    li
                                        a(href='img/vlla__hazart4.jpg')
                                            img(src='img/vlla__hazart4.jpg')
                                    li
                                        a(href='img/vlla__hazart5.jpg')
                                            img(src='img/vlla__hazart5.jpg')
                                    li
                                        a(href='img/vlla__hazart6.jpg')
                                            img(src='img/vlla__hazart6.jpg')
                                    li
                                        a(href='img/vlla__hazart7.jpg')
                                            img(src='img/vlla__hazart7.jpg')
                                    li
                                        a(href='img/vlla__hazart8.jpg')
                                            img(src='img/vlla__hazart8.jpg')
                                button.vllaGalery__arrowRight ⇨
                    .col-xs-12.col-md-5.col-md-pull-7
                        .vllaGalery__mainImage#palace
                            img(src='img/vlla__palaceMain.jpg')
            .vllaGalery__item
                .row
                    .col-xs-12.col-md-7
                        .vllaGalery__description
                            h4 Макет нового вокзала города Астаны "Нұрлы жол"
                            table
                                thead
                                    td(colspan=2) Высокодетализированный макет выполнен:
                                tbody
                                    tr
                                        td.dotts - Масштаб
                                        td 1:200
                                    tr
                                        td.dotts - Подмакетник
                                        td 2600х2600 мм.
                                    tr
                                        td.dotts - Уличных фонарей с подсветкой
                                        td 350 шт.
                                    tr
                                        td.dotts - Срок изготовления
                                        td 25 дней
                            .vllaGalery__carousel#carouselStation
                                button.vllaGalery__arrowLeft ⇦
                                ul
                                    li
                                        a(href='img/vlla__hazart1.jpg')
                                            img(src='img/vlla__hazart1.jpg')
                                    li
                                        a(href='img/vlla__hazart2.jpg')
                                            img(src='img/vlla__hazart2.jpg')
                                    li
                                        a(href='img/vlla__hazart3.jpg')
                                            img(src='img/vlla__hazart3.jpg')
                                    li
                                        a(href='img/vlla__hazart4.jpg')
                                            img(src='img/vlla__hazart4.jpg')
                                    li
                                        a(href='img/vlla__hazart5.jpg')
                                            img(src='img/vlla__hazart5.jpg')
                                    li
                                        a(href='img/vlla__hazart6.jpg')
                                            img(src='img/vlla__hazart6.jpg')
                                    li
                                        a(href='img/vlla__hazart7.jpg')
                                            img(src='img/vlla__hazart7.jpg')
                                    li
                                        a(href='img/vlla__hazart8.jpg')
                                            img(src='img/vlla__hazart8.jpg')
                                button.vllaGalery__arrowRight ⇨
                    .col-xs-12.col-md-5
                        .vllaGalery__mainImage#station
                            img(src='img/vlla__stationMain.jpg')